@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
body {
  padding: 0;
  margin: 0;
}

.loader {
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: white;
  animation: loader;
  animation-delay: 4s;
  animation-fill-mode: both;
}
.loader .loader__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Shrikhand";
  font-size: 54px;
  color: #99E2D0;
  animation: movecolor 1.2 linear;
  -moz-animation: movecolor 1.2 linear;
  -webkit-animation: movecolor 1.2 linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes movecolor {
  0% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
  30% {
    color: #FF79DA;
    text-shadow: 0 0 6px #FF79DA;
  }
  60% {
    color: #99E2D0;
    text-shadow: 0 0 6px #99E2D0;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
}
@-webkit-keyframes movecolor {
  0% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
  30% {
    color: #FF79DA;
    text-shadow: 0 0 6px #FF79DA;
  }
  60% {
    color: #99E2D0;
    text-shadow: 0 0 6px #99E2D0;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
}
@-moz-keyframes movecolor {
  0% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
  30% {
    color: #FF79DA;
    text-shadow: 0 0 6px #FF79DA;
  }
  60% {
    color: #99E2D0;
    text-shadow: 0 0 6px #99E2D0;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 6px #9356DC;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
.main {
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .header__logo--properties {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
  box-shadow: 0 0 8px 0 darkgray;
}
.header .header__logo {
  height: 30px;
  object-fit: contain;
}

.header__loc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 65px;
}
.header__loc .reglage_icone {
  margin-right: 20px;
  font-size: 20px;
}
.header__loc .text__loc {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header__present {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  height: auto;
  padding-bottom: 50px;
}
.header__present h1, .header__present h2 {
  font-family: "Roboto", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}
.header__present h1 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
}
.header__present h2 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 300;
}

.header__btn {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: darkgrey 0 2px 4px 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  height: 40px;
  width: 200px;
}
.header__btn:hover {
  background-image: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: darkgrey 0 5px 6px 0;
}

.header__logo--properties__page__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
}
.header__logo--properties__page__menu .btn__return {
  position: absolute;
  right: 90%;
  top: 27px;
  color: #353535;
}
.header__logo--properties__page__menu .header__logo__page__menu {
  height: 30px;
  object-fit: contain;
}

.header__img__page__menu {
  height: 265px;
  object-fit: cover;
}

.fonctionnement {
  font-family: "Roboto", sans-serif;
  counter-reset: fonct;
  margin: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30px;
}

.fonct__list {
  padding: 0;
  margin-bottom: 60px;
}

.fonct__properties {
  background-color: #f6f6f6;
  list-style: none;
  counter-increment: fonct;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 3px 4px 6px lightgray;
  height: 60px;
  width: 100%;
}
.fonct__properties::before {
  background-color: #9356DC;
  content: counter(fonct);
  padding: 5px 9px;
  border-radius: 50%;
  color: white;
  margin-left: -10px;
  margin-right: 20px;
}

.fonct__icone {
  margin-right: 20px;
  color: grey;
}

.restaurant {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1300px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
}
.restaurant h1 {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-top: 40px;
  margin-bottom: -15px;
  width: 90%;
}

.link__menu {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 8px 12px lightgrey;
  text-decoration: none;
  width: 90%;
  height: 274px;
  color: black;
}
.link__menu .link__img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 180px;
  width: 100%;
}
.link__menu .link__new {
  background-color: #99E2D0;
  color: #008766;
  width: fit-content;
  position: absolute;
  padding: 5px 10px;
  right: 8%;
  margin-top: 10px;
  border-radius: 4px;
}
.link__menu h3 {
  margin-bottom: 5px;
  margin-left: 10px;
}
.link__menu p {
  margin-top: 5px;
  margin-left: 10px;
}
.link__menu .heart__properties {
  text-align: end;
  padding-right: 20px;
  position: relative;
  bottom: 55px;
  font-size: 32px;
}
.link__menu .heart__properties .fonct__heart {
  position: absolute;
  right: 20px;
  background-color: white;
}
.link__menu .heart__properties .fonct__heart:hover {
  opacity: 0;
  transition: all 0.5s linear;
}
.link__menu .heart__properties .fonct__heart:active {
  opacity: 0;
  transition: all 0.5s linear;
}
.link__menu .heart__properties .fonct__heart--full {
  padding: 0;
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #353535;
  font-family: "Roboto", sans-serif;
  color: white;
}
.footer .footer__img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  height: 20px;
  padding: 15px 0 15px 40px;
}
.footer .footer__ul {
  margin: 0;
  height: 150px;
}
.footer .footer__ul .footer__li {
  padding: 5px 0;
  list-style-type: none;
}
.footer .footer__ul .footer__li .footer__puce::before {
  padding-right: 10px;
}

.carte {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  margin-top: -70px;
}
.carte .carte__title {
  display: flex;
  align-items: center;
  font-family: "Shrikhand", sans-serif;
  justify-content: space-between;
}
.carte .carte__title .title__menu {
  font-size: 30px;
  font-weight: 500;
  padding-left: 15px;
}
.carte .carte__title .heart__properties__menu {
  text-align: end;
  padding-right: 20px;
  position: relative;
  font-size: 32px;
}
.carte .carte__title .heart__properties__menu .fonct__heart {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: white;
}
.carte .carte__title .heart__properties__menu .fonct__heart:hover {
  opacity: 0;
  transition: all 0.5s linear;
}
.carte .carte__title .heart__properties__menu .fonct__heart:active {
  opacity: 0;
  transition: all 0.5s linear;
}
.carte .carte__title .heart__properties__menu .fonct__heart--full {
  padding: 0;
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte .sectorisation {
  font-weight: 300;
  font-size: 18px;
  margin-left: 15px;
  border-bottom: solid #99E2D0;
  width: 50px;
}

.divise__section {
  padding-bottom: 20px;
}
.divise__section .menu, .divise__section .menu--time, .divise__section .menu--time2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 3px 4px 7px lightgrey;
  border-radius: 15px;
  margin: 15px 15px;
  padding: 10px 0px 10px 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.divise__section .menu h3, .divise__section .menu p, .divise__section .menu--time h3, .divise__section .menu--time p, .divise__section .menu--time2 h3, .divise__section .menu--time2 p {
  display: block;
  margin: 0;
  padding: 0;
  padding-right: 50px;
  height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.divise__section .menu h3 .prix, .divise__section .menu p .prix, .divise__section .menu--time h3 .prix, .divise__section .menu--time p .prix, .divise__section .menu--time2 h3 .prix, .divise__section .menu--time2 p .prix {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 19px;
  left: 36px;
}
.divise__section .menu .menu__animation, .divise__section .menu--time .menu__animation, .divise__section .menu--time2 .menu__animation {
  display: none;
}
.divise__section .menu:hover, .divise__section .menu--time:hover, .divise__section .menu--time2:hover {
  box-shadow: 5px 8px 12px lightgrey;
}
.divise__section .menu:hover .menu__animation, .divise__section .menu--time:hover .menu__animation, .divise__section .menu--time2:hover .menu__animation {
  display: flex;
  animation: validmove 0.5s linear;
}
.divise__section .menu:hover .menu__animation .menu__animation__icone, .divise__section .menu--time:hover .menu__animation .menu__animation__icone, .divise__section .menu--time2:hover .menu__animation .menu__animation__icone {
  animation: turn 0.8s linear;
}
.divise__section .menu:hover .prix, .divise__section .menu--time:hover .prix, .divise__section .menu--time2:hover .prix {
  left: -25px;
  transition-duration: 0.8s;
}

.btn__commander {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.menu {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.menu--time {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

.menu--time2 {
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu__animation {
  position: absolute;
  bottom: 0px;
  right: 0%;
  display: flex;
  height: 100%;
  width: 66px;
  justify-content: flex-end;
  align-items: center;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.menu__animation .menu__animation__icone {
  display: flex;
  height: 25px;
  width: 25px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes validmove {
  0% {
    right: -15%;
  }
  100% {
    right: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
