//--------------Couleur site----------------------//
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$lightcolor-primary: lighten(#9356DC,5%);
$lightcolor-secondary: lighten(#FF79DA,5%);
$color-tertiary:#99E2D0;
$fourth-color:#eaeaea;
$fifth-color:#f6f6f6;
$color-backfooter:#353535;
//--------------Polices---------------------------//
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
//--------------mixin-----------------------------//

//--------------Code-header-----------------------//
body {
    padding: 0;
    margin: 0;
}
.loader {
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: loader;
    animation-delay: 4s;
    animation-fill-mode: both;
    .loader__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Shrikhand';
    font-size: 54px;
     color: $color-tertiary;
    animation: movecolor 1.2 linear;
    -moz-animation: movecolor 1.2 linear;
    -webkit-animation: movecolor 1.2 linear;
    animation-duration: 4s;  
    animation-iteration-count: infinite;
    }
}
@keyframes movecolor {
    0% {
        color: $color-primary;
        text-shadow: 0 0 6px $color-primary;
    }
    30% {
        color: $color-secondary;
        text-shadow: 0 0 6px $color-secondary;
    }
    60% {
        color: $color-tertiary;
        text-shadow: 0 0 6px $color-tertiary;
    }
    100% {
        color: $color-primary;
        text-shadow: 0 0 6px $color-primary;
    }
}
@-webkit-keyframes movecolor {
    0% {
        color: $color-primary;
        text-shadow: 0 0 6px $color-primary;
    }
    30% {
        color: $color-secondary;
        text-shadow: 0 0 6px $color-secondary;
    }
    60% {
        color: $color-tertiary;
        text-shadow: 0 0 6px $color-tertiary;
    }
    100% {
        color: $color-primary;
        text-shadow: 0 0 6px $color-primary;
    }
}
@-moz-keyframes movecolor {
    0% {
        color: $color-primary;
        text-shadow: 0 0 6px $color-primary;
    }
    30% {
        color: $color-secondary;
        text-shadow: 0 0 6px $color-secondary;
    }
    60% {
        color: $color-tertiary;
        text-shadow: 0 0 6px $color-tertiary;
    }
    100% {
        color: $color-primary;
        text-shadow: 0 0 6px $color-primary;
    }
}
@keyframes loader {
    100% {
      opacity: 0;
      z-index: -100;
    }
  } 
.main {
    position: relative;
    z-index: 1;
}
.header {
    display: flex;
    flex-direction: column;
    .header__logo--properties {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 75px;
        box-shadow: 0 0 8px 0 darkgray;
    }
    .header__logo {
        height: 30px;
        object-fit: contain;
    }  
}
.header__loc{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fourth-color;
    height: 65px;
    .reglage_icone{
        margin-right: 20px;
        font-size: 20px;
    }
    .text__loc {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }
}
.header__present {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $fifth-color;
    height: auto;
    padding-bottom: 50px;
    h1, h2 {
        font-family: "Roboto", sans-serif;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1{
        font-size: 24px;
        font-weight: 500;
        padding-top: 20px;
    }
    h2{
        margin-top: 0px;
        font-size: 16px;
        font-weight: 300;
    }
}
.header__btn {
    background-image: linear-gradient(0deg,$color-primary,$color-secondary);
    box-shadow: darkgrey 0 2px 4px 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    height: 40px;
    width: 200px;
    &:hover{
        background-image: linear-gradient(0deg,$lightcolor-primary,$lightcolor-secondary);
        box-shadow: darkgrey 0 5px 6px 0;
    }
}
.header__logo--properties__page__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75px;
    .btn__return {
        position: absolute;
        right: 90%;
        top: 27px;
        color: $color-backfooter;
    }
    .header__logo__page__menu {
        height: 30px;
        object-fit: contain;
    }
}
.header__img__page__menu {
    height: 265px;
    object-fit: cover;
}
//----------------------------------Code-section-Fonctionnement---------------------------//
.fonctionnement {
    font-family: "Roboto", sans-serif;
    counter-reset: fonct;
    margin: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
}
.fonct__list {
    padding: 0;
    margin-bottom: 60px;
}
.fonct__properties {
    background-color: $fifth-color;
    list-style: none;
    counter-increment: fonct;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 4px 6px lightgray;
    height: 60px;
    width: 100%;
    &::before {
        background-color: $color-primary;
        content: counter(fonct);
        padding: 5px 9px;
        border-radius: 50%;
        color: white;
        margin-left: -10px;
        margin-right: 20px;
    }
}
.fonct__icone {
    margin-right: 20px;
    color: grey;
}
//----------------------------------code-section-restaurants---------------------------//@at-root
.restaurant {
    width: 100%;
    background-color: $fifth-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1300px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 50px;
    h1 {
        display: flex;
        justify-content: flex-start;
        align-items: end;
        margin-top: 40px;
        margin-bottom: -15px;
        width: 90%;
    }
}
.link__menu {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 8px 12px lightgrey;
    text-decoration: none;
    width: 90%;
    height: 274px;
    color: black;
    .link__img {
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 180px;
        width: 100%;
    }
    .link__new {
        background-color: $color-tertiary;
        color: #008766;
        width: fit-content;
        position: absolute;
        padding: 5px 10px;
        right: 8%;
        margin-top: 10px;
        border-radius: 4px;
        
    }
    h3 {
        margin-bottom: 5px;
        margin-left: 10px;
    }
    p {
        margin-top: 5px;
        margin-left: 10px;
    }
    .heart__properties {
        text-align: end;
        padding-right: 20px;
        position: relative;
        bottom: 55px;
        font-size: 32px;
        .fonct__heart {
            position: absolute;
            right: 20px;
            background-color: white;
            &:hover {
                opacity: 0;
                transition: all 0.5s linear;
            }
            &:active {
                opacity: 0;
                transition: all 0.5s linear;
            }
        }
        .fonct__heart--full {
            padding: 0;
            background: linear-gradient(0deg,$lightcolor-primary,$lightcolor-secondary);    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
    }
}
//-----------------------------------code-footer-------------------------------//
.footer{
    background-color: $color-backfooter;
    font-family: "Roboto", sans-serif;
    color: white;
    .footer__img {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        height: 20px;
        padding: 15px 0 15px 10px;
    }
    .footer__ul {
        padding-left: 10px;
        height: 150px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        .footer__li {
            padding: 5px 0;
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: row;
            .footer__puce::before {
                width: 20px;
                height: 20px;
                margin-right: 17px;
            }
            .footer__puce2::before {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}
//--------------------------------code-page-menu---------------------------------//
.carte {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    background-color: $fifth-color;
    font-family: "Roboto", sans-serif;
    margin-top: -70px;
    .carte__title {
        display: flex;
        align-items: center;
        font-family: "Shrikhand", sans-serif;
        justify-content: space-between;
        .title__menu {
            font-size: 30px;
            font-weight: 500;
            padding-left: 15px;
        }
        .heart__properties__menu {
            text-align: end;
            padding-right: 20px;
            position: relative;
            font-size: 32px;
            .fonct__heart {
                position: absolute;
                right: 20px;
                bottom: 10px;
                background-color: white;
                &:hover {
                    opacity: 0;
                    transition: all 0.5s linear;
                }
                &:active {
                    opacity: 0;
                    transition: all 0.5s linear;
                }
            }
            .fonct__heart--full {
                padding: 0;
                background: linear-gradient(0deg,$lightcolor-primary,$lightcolor-secondary);    
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
            }
        }
    }
    .sectorisation {
    font-weight: 300;
    font-size: 18px;
    margin-left: 15px;
    border-bottom: solid $color-tertiary;
    width: 50px;
    }
}
.divise__section {
    padding-bottom: 20px;
    .menu, .menu--time, .menu--time2 {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 3px 4px 7px lightgrey;
        border-radius: 15px;
        margin: 15px 15px;
        padding: 10px 0px 10px 10px;
        text-decoration: none;
        color: black;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        h3, p {
            display: block;
            margin: 0;
            padding: 0; 
            padding-right: 50px;
            height: 23px; 
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;        
            .prix{
                font-weight: 500;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                bottom: 19px;
                left: 36px;
            }
        }
        .menu__animation{
            display: none;
        }
        &:hover {
            box-shadow: 5px 8px 12px lightgrey;
            h3, p {
                animation: placetext linear;
                animation-duration: .5s;
                animation-fill-mode: both;
            }   
            .menu__animation{
                display: flex;
                animation: validmove .5s linear;
                .menu__animation__icone{
                    animation: turn .8s linear;
                }
            }
        }
    }
}
.btn__commander{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
//--------------------------------------------------animation-page-menu-------------------------------//
.menu {    
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
}
.menu--time {   
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}
.menu--time2 {   
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.menu__animation {
    position: absolute;
    bottom: 0px;
    right: 0%;
    display: flex;
    height: 100%;
    width: 66px;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-tertiary;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    .menu__animation__icone {
    display: flex;
    height: 25px;
    width: 25px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    color: $color-tertiary;
    border-radius: 50%;
    }
}
@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes validmove {
    0% {
        right: -15%;
    }
    100% {
        right: 0%;
    }
}
@keyframes placetext {
    0% {
        width: 100%;
    }
    100% {
        width: 68%;
    }
}
//----------------------------------responsive-home------------------------//
@media screen and (min-width: 1024px) {
    .fonct__list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .fonct__properties {
            min-width: 280px;
            max-width: 340px;
            margin: 0 20px;
        }
    }
    .restaurant {
        flex-direction: row;
        position: relative;
        justify-content: space-around;
        align-items: center;
        height: 420px;
        width: 100%;
        position: relative;
        padding-top: 35px;
        h1 {
            position: absolute;
            top: 0;
            left: 5%;
        }
        .link__menu {
            min-width: 100px;
            max-width: 400px;
            position: relative;
            margin: 0 20px;
        }
    }
}
//--------------------------------------responsive-page-menu--------------------------//
@media screen and (min-width: 1124px) {
    .carte {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .divise__section {
            max-width: 500px;
            min-width: 250px;
        }
        .carte__title {
            width: 100%;
        }
        .btn__commander {
            width: 100%;
        }
    }
}